extends layout

block content
  link(rel="stylesheet" href="/stylesheets/donation-board.css")
  if user
    include partials/navbar-authenticated
  else
    include partials/navbar-unauthenticated
  div(class="container")
    div(class="card-deck")
      each donation in donations
        div(class="card text-center")
          h5(class="card-header")=`${donation.food_item}`
          ul(class="list-group list-group-flush")
            li(class="list-group-item list-view")=`Amount: ${donation.amount}`
            if donation.dietary_restrictions !== ""
              li(class="list-group-item list-view")=`${donation.dietary_restrictions}`
            li(class="list-group-item list-view")=`Donated by: ${donation.donator}`
            li(class="list-group-item list-view")=`Meeting Point: ${donation.meeting_point}`
            li(class="list-group-item list-view")=`Pickup Date: ${donation.pickup_date}`
            li(class="list-group-item list-view")=`Expiry Date: ${donation.expiration_date}`
          div(class="card-footer")
            if user
              if donation.donator == user.uid
                button(type="submit" class="btn btn-secondary" disabled) Request
              else
                form(action="/donation-board" method="POST")
                  input(type="hidden" name="donation_id" value=donation.id)
                  button(type="submit" class="btn btn-primary") Request
            else
              button(type="submit" class="btn btn-secondary" disabled) Login to Request
